<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/styles.css" type="text/css" rel="stylesheet">
  <title>New Book Page</title>
</head>
<body>
  <header>
    <div class="header"></div>
  </header>
  <main>
    <h1>Enter a New Book</h1>
    <form action="/library/<%=library._id%>/book" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title"/><br/>
      <label for="author">Author:</label>
      <input type="text" name="author"/><br/>
      <label for="genre">Genre:</label>
      <select name="genre">
        <option value="fiction">Literature</option>
        <option value="romance">Romance</option>
        <option value="mystery">Mystery</option>
        <option value="Fantasy">Fantasy</option>
        <option value="scifi">Sci-Fi</option>
        <option value="nonfiction">Non-Fiction</option>
        <option value="childrens">Children's</option>
      </select>
      <input type="submit" value="Add Book"/>
      </form>
    </form>
    <a href="/library/<%=library._id%>" class="cancel">Cancel</a>
  </main>
</body>
</html>