<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/styles.css" type="text/css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap" rel="stylesheet">
  <title>New Book Page</title>
</head>
<body>
  <header>
    <div class="header">
      <img src="/public/alamedalogo.png" width="65" height="65">
    </div>
  </header>
  <main>
    <h1>Enter a New Book</h1>
    <form action="/library/<%=library._id%>/book" method="POST">
      <label for="title">Title:</label><br/>
      <input type="text" name="title"/><br/>
      <label for="author">Author:</label><br/>
      <input type="text" name="author"/><br/>
      <label for="genre">Genre:</label><br/>
      <select name="genre">
        <option value="Literature">Literature</option>
        <option value="Romance">Romance</option>
        <option value="Mystery">Mystery</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Sci-fi">Sci-Fi</option>
        <option value="Non-fiction">Non-Fiction</option>
        <option value="Childrens">Children's</option>
      </select>
      <div class="submitbutton">
        <input type="submit" value="Add Book" class="button"/>
      </div>  
      </form>
    </form>
    <a href="/library/<%=library._id%>" class="cancel">Cancel</a>
  </main>
</body>
</html>