body {
  font-family: 'IM Fell DW Pica', serif;
  color: rgb(0, 82, 158) 
}

.header {
  display: flex;
  justify-content: center;
  width: auto;
  height: 65px;
  background: repeating-radial-gradient(
    circle,
    rgb(3, 113, 215),
    rgb(3, 113, 215) 10px,
    rgb(0, 82, 158) 10px, 
    rgb(0, 82, 158) 20px
  );
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color :rgb(3, 113, 215)
}

a:hover {
  color: rgb(245,32,47);
}

.libraries {
  display: flex;
}

.library {
  background: rgb(0, 82, 158);
  display: inline-block;
  height: 55px;
  margin-left: 20px;
  margin-top: 55px;
  position: relative;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.library:before {
  border-bottom: 35px solid rgb(0, 82, 158);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

.name {
  color: white;
  font-size: 18px;
}

.bookscontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.books {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 12px;
  color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: none none none ridge;
  border-width: 0 0 0 15px;
  border-color: rgb(0, 82, 158);
  background-color: rgb(3, 113, 215) ;
  margin: 10px;
  padding: 5px;
  text-align: center;
  align-self: center;
  width: 150px;
  height: 200px;
  overflow-y: scroll;
}

.button {
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(0, 82, 158);
  background-color: white;
}

.button:hover {
  color: rgb(245,32,47);
  cursor: pointer;
}

input {
  font-family: 'IM Fell DW Pica', serif;
  color: rgb(0, 82, 158) 
}

/* option {
  font-family: 'IM Fell DW Pica', serif;
  color: rgb(0, 82, 158) 
} */

select {
  font-family: 'IM Fell DW Pica', serif;
  color: rgb(0, 82, 158) 
}